body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.blog {
    font-family: Roboto;
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(247, 253, 137, 0.519);
    color: rgba(0, 0, 0, 0.754);

    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(247, 253, 137, 0.519);
    color: rgba(0, 0, 0, 0.754);

    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 10px;
}

.login:hover {
    background-color: rgba(220, 230, 100, 0.7);
}
.post-content{
background: white;
    width: 450px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}